.container {
  padding: 0 2rem;
  background-color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*@apply  bg-gradient-to-b from-indigo-600 to-fuchsia-700 to-orange-500 text-white px-2;*/
  @apply bg-gradient-to-b from-indigo-600 via-red-500 to-orange-400
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  @apply max-w-fit  text-purple-600 scale-100 hover:scale-125;
}

.footer span {
  @apply mr-1 text-lg font-semibold text-purple-900;
} /*Items like this may be better off with an id to specify its styles*/

/*OR, use a 'container' approach, where every component has a highest level element, that is
      its 'container'. You can add a class to that container, and then use the ".component div {}" 
      method to target all of it's constituents'*/

/*In any case, we need a 'css-interface' for each component. So that styles can be extended */

.title a {
  @apply text-orange-400 no-underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  @apply no-underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: .5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
